{% extends 'base.html' %}
{% block title %} Youtube {% endblock %}

{% block content %}
    <section class="player">
        <video src="media/videos/나이트3D_코딩.mp4" controls></video>
    </section>    
    <section>
    <div class="metadata">
        <ul class="hashtags">
            <li >#코딩</li>
            <li>#프론트엔드</li>
            <li>#백엔드</li>
        </ul>
        <div class="titlebuttion">
            <span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Reiciendis ipsam officiis obcaecati sapiente. Dolore, 
                 ut? Reiciendis officiis minus tenetur optio, iste porro voluptas
            </span>
            <button class="morebtn">
                <i class="fas fa-caret-down"></i>
            </button>

        </div>
        <div class="hitcount">
            <span class="count">15000 views</span>
        </div>
    </div>

    <ul class="actions">
        <li><button><i class="fas fa-thumbs-up"><span>좋아요</span></i></button></li>
        <li><button><i class="fas fa-thumbs-down"><span>싫어요</span></i></button></li>
        <li><button><i class="fas fa-share"><span>Shere</span></i></button></li>
        <li><button><i class="fas fa-plus"><span>Save</span></i></button></li>
        <li><button><i class="fab fa-font-awesome-flag"><span>Report</span></i></button></li>
    </ul>
    <div class="channel_info">
        <div class="metadata">
            <img src="static/img/카카오곰탱이.jpg">
        </div>
        <div class="userinfo">
            <span class="name">홍 Tube</span>
            <span class="subscribers">54명</span>
        </div>
        <button class="subscribe">구독하기</button>
    </div>
    </section>
    <section class="upnext">
        <span class="title">다음 동영상</span>
        <ul class="item">
            <li class="img_item">
                <img src="static/img/test1.jpg">
                <div class="info">
                    <span class="title_item">Lorem ipsum, dolor sit amet consectetur adipisicing elit</span>
                    <span class="name_item">홍 Tube</span>
                    <span class="hitcount_item">조회수 : 4155</span>
                </div>
            </li>
            <li class="img_item">
                <img src="static/img/test2.jpg">
                <div class="info">
                    <span class="title_item">Lorem ipsum, dolor sit amet consectetur adipisicing elit</span>
                    <span class="name_item">홍 Tube</span>
                    <span class="hitcount_item">조회수 : 95</span>
                </div>
            </li>
            <li class="img_item">
                <img src="static/img/test3.jpg">
                <div class="info">
                    <span class="title_item">Lorem ipsum, dolor sit amet consectetur adipisicing elit</span>
                    <span class="name_item">홍 Tube</span>
                    <span class="hitcount_item">조회수 : 684</span>
                </div>
            </li>
        </ul>
    </section>
{% endblock %}

<!-- fas fa-caret-down
fas fa-thumbs-up
fas fa-thumbs-down
fas fa-share
fas fa-plus
fab fa-font-awesome-flag -->